<% layout('layouts/boilerplate')%>
    
    <% if(comments){ %> 
        <h3><%= comments.length%> comments</h3>
        <% for(let i=0;i<comments.length;i++){ %>
            <h5><a href="/user/<%=comments[i].user_id%>">
                    <%=comments[i].username%>
                </a>
                <%=comments[i].comment%>
            </h5>
            <% if(comments[i].username===currUser){ %> 
                  <form action="/photo/<%=photo_id%>/comment/<%=comments[i].comment_id%>?_method=DELETE" method="POST">
                        <button>Delete</button>
                </form>
            <% } %> 
            <% } %>
       <% }else{%>
        <h3> No comment yet</h3>
        <% } %> 
    
            <form action="/photo/<%=photo_id%>/comments" method="post">
                <textarea name="comment" id="" cols="30" rows="2" placeholder="Add a Comment..." required></textarea>
                <button>Post</button>
            </form>