<% layout('layouts/boilerplate')%>
<h1>Main Page!</h1>
<% for(let i=0;i<results.length;i++){ %>
  <h2>
    <a href="/user/<%=results[i].user_id%>"><%=results[i].username%></a>
  </h2>
  <h3><%=results[i].image_url%> </h3>
  <a href="photo/<%=results[i].photo_id%>/comments">view comments</a>
  <% if(totalLikes[i]){ %> 
  <b> <%=totalLikes[i].likes%> Likes </b>
  <% } else{%> 
    <b>0 likes</b>
  <% } %> 
  <% } %>